body{
    background-color:PowderBlue;
}

nav li{
      background:#00CED1;
}

header{
      background-color:#00CED1;  
}

footer{
       background-color:#00CED1;
}

#children{
     color:rgb(255, 0, 255);
}

.time{
     border:1px solid;
}
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               


